h1{
    color: white;
}

h2{
    color: rgb(31, 226, 31);
}

.h2{
    color: rgb(226, 70, 226);
    font-size: xx-large;
    font-family: 'silkscreen', sans-serif;
    font-family: 'silkscreen Expanded', sans-serif;
}